body{
    background-color: #F6F1E9; 
}

.filtro-pet{
    position: absolute;
    display: flex;
    margin-left: 320px;
    margin-top: 100px;
    width: 650px;
    height: 50px;
    background-color: #4F200D;
    border-radius: 30px;
    box-shadow: 0 2px 6px 2px #3d322d;
    z-index: 5;
}

.filtro-pet input{
    margin-left: 15px;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
    
}

.filtro-pet a{
    position: relative;
    margin-top: 13px;
    margin-left: 2px;
    font-size: 20px;
    color: #fff;
}

.filtro-pet a:hover{
    color: #eef112;
}

.filtro-pet span{
    margin-top: 17px;
    margin-left: 19px;
    color: #fff;
}

.filtro-pet .filtro-esp{
    margin-top: 16px;
    margin-left: 25px;
    color: #fff;
}

.filtro-pet .filtro-esp a{
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
}

.filtro-pet .filtro-esp:hover{
    color: #eef112;
}

.filtro-pet .filtro-esp a:nth-child(6){
    text-decoration: none;
    font-size: 17px;
    margin-left: 60px;
}

.filtro-pet .filtro-esp .dropdown a{
    margin: 0;
}

.filtro-pet li{
    display: inline-flex;
    justify-content: start;
}

.filtro-pet .dropdown .dropdown-filter{
    margin: 10px;
    margin-top: 1px;
    margin-left: -60px;
    padding: 0;
    width: 80px;
    height: 0px;
    background-color: #4F200D;
    overflow: hidden;
    border-radius:  0 0 20px 20px;
    transition: .7s;
}

.filtro-pet .dropdown .dropdown-filter a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0px;
    margin-left: -4px; 
    padding: 4px;
}

.filtro-pet .dropdown .dropdown-filter a:nth-child(1){
    margin-top: 30px;
}





/*Filtro localização*/
.filtro-pet .dropdown .location{
    margin-left: -127px;
    width: 200px;
    height: 0px;
}

.filtro-pet .dropdown .location .field-filter{
    margin-top: 30px;
}

.filtro-pet .dropdown .location .field-filter .label-location{
    margin-left: 75px;
    color: #fff;
}

.filtro-pet .dropdown .location .field-filter .input-location{
    margin-left: 10px;
    width: 180px;
}

.filtro-pet .dropdown .location .field-filter .filter-button button{
    margin-left: 55px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #4F200D;
}

.filtro-pet .dropdown .location .field-filter .filter-button a{
    margin-left: 0px;
    margin-top: 0px;
    color: #fff;
}

.filtro-pet .dropdown .location .field-filter .filter-button button:hover{
    background-color: #eef112;
}





.filtro-pet .filtro-esp .first:hover .dropdown-filter{
    width: 80px;
    height: 150px;
}

.filtro-pet .filtro-esp .second:hover .dropdown-filter{
    width: 80px;
    height: 95px;
}

.filtro-pet .filtro-esp .third:hover .dropdown-filter{
    width: 200px;
    height: 210px;
}










.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
    margin-left: 100px;
    
    
}

.gallery-items{
    width: 280px;
    height: 280px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .2s linear;
    border-radius: 20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;  
}

.gallery-items:nth-child(1){
    margin-top: 240px;
}

.gallery-items:nth-child(2){
    margin-top: 240px;
}

.gallery-items:nth-child(3){
    margin-top: 240px;
}

.gallery-items:hover{
    transform: scale(1.1);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
    border-radius: 20%;
    display: flex;
    z-index: 0;
}

.overlay h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-left: 170px;
    color: #fff;
    font-size: 2rem;
    
}

.overlay h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -65px;
    color: #fff;
    font-size: 1.3rem;
}

.overlay:hover{
    opacity: 0.8;
}
