@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Boogaloo', open-sans;
    -webkit-font-smoothing: antialiased !important;
}

body{
    background-color: #F6F1E9;
}

header {
    height: 5rem;
    width: 100%;
    background-color: #4F200D;
    box-shadow: 0 2px 6px 2px #3d322d;
    position: fixed;
    z-index: 1;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    
}
.nav-bar .logo img{
    display: flex;
    margin-left: 35px;
    margin-top: 15px;
}



.nav-bar .profile-button{
    background-color: none;
    margin-right: 2rem;
    margin-top: 1.5rem;
   
}

.nav-bar .profile-button i{
    border: none;
    color: #fff;
    background-color: none;
    padding: 0;
    font-size: 2rem;
}

.nav-bar .profile-button i:hover {
    color: #eef112;
}

.search-bar{
    margin-top: 40px;
    transform: translate(-50%, -50%);
    background-color: #e9e8e8;
    height: 37px;
    width: 250px;
    padding: 5px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar:hover{
    background-color: #fff;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;

}

.search-btn .lupa{
    width: 30px;
    height:30px;
    filter: brightness(0.3) sepia(1) saturate(5) hue-rotate(20deg);
    cursor: pointer;
}


.container input{
    height: 150px;
    width: 700px;
    margin-top: 110px;
    margin-left: 320px;
    background-color: #e9e8e8;
    text-align: center;
    font-size: 25px;
    border: solid 3px #4F200D;
    border-radius: 20px;
    transition: .5s;
    
}

.container input:hover{
    background-color: #fff;
}

.elemento .btn{
    display: inline-block;
    flex-wrap: nowrap;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    background-color: #4F200D;
    border-radius: 50%;

}

.elemento .btn:nth-child(1){
    margin-left: 900px;
}

.elemento .btn:hover{
    background-color: #af6041;
}

.elemento .btn .icon{
    text-align: center;
    margin-top: 2px;
}


.elemento .btn .icon i{
    color: #fff;
    font-size: 20px;
    
    
}


section{
    display: grid;
    place-items: center;
    align-items: center;
}

section:nth-child(1){
    margin-top: 70px;
}

.hidden{
    opacity: 0;
    filter: blur(9px);
    transition: all 1.5s;
    transform: translateX(-100%);
}

.post .hidden img{
    height: 410px;
    width: 430px;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 20px;
}

.post .hidden button{
    position: relative;
    background: none;
    color: #ffffff;
    cursor: pointer;
    top: -70px;
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    transition: .2s;
    background-color: #4F200D;
    justify-content: space-between;
    margin: 5px;
    
}

.post .hidden button:hover{
    background-color: #af6041;
}

.post .hidden i{
    font-size: 30px;
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

.post .hidden a{
    margin-left: -635px;
    font-size: 25px;
    margin-bottom: 10px;
    color: #4F200D;
    text-decoration: none;
}

p{
    
    margin-left: 260px;
    margin-right: 260px;
    font-size: 20px;
    color: #000;
    word-wrap: nowrap;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-left: -635px;
    margin-bottom: 15px;

}

.logos{
    display: flex;
    gap: 20px;
}

.logos .hidden img{
    background-color: #fff;
    border-radius: 20px;
    margin: 2px;
    width: 250px;
    height: 400px;
}

.logos:nth-child(2){
    transition-delay: 400ms;
}

.logos:nth-child(3){
    transition-delay: 700ms;
}

.logos:nth-child(4){
    transition-delay: 1000ms;
}














/*
.postagem button{
    height: 30px;
    width: 50px;
    margin-top: 270px;
    margin-left: 900px;
    position: absolute;
    background-color: #e7e435;
    border: solid 2px #4F200D;
    border-radius: 10px;
}

.postagem button a{
    text-decoration: none;
    color: #000;
}

.postagem button:hover{
    background-color: #eef112;
}

*/
















@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .profile-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-button .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }


}




