@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100&display=swap');

*{
    font-family: 'Boogaloo', open-sans;
    font-size: 1rem;
}

body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #F6F1E9;
    
}

.logo img{
    padding: 0;
    margin: 0;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 230px;
}

.login_body{
    padding: 60px;
    /* z-index: 90; */
    position: relative;
    max-width: 450px;
    height: 550px;
    top: 40px;
    margin-left: 50%;
    background-color: #4F200D;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%);
}

.login_body h2{
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login_body input{
    height: 50px;
    width: 100%;
    color: #000;
    background-color: #e7ded0;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover{
    background-color: #F6F1E9;
}

.input-box{
    margin-bottom: 25px;
}

.login_body button{
    height: 50px;
    width: 100%;
    color: #353232;
    background-color: #d1ce10;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover{
    background-color: #eef112;
    cursor: pointer;
    color: #000;
}

.support{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.support input{
    width: 15px;
    height: 15px;
}

.remember{
    display: flex;
    align-items: center;
}

.remember span{
    margin-right: 5px;
    height: 25px;
    color: #737373;
}

.help a{
    text-decoration: none;
    color: #737373;
}

.help a:hover{
    color: #fff;
}

.login_facebook{
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login_facebook span{
    margin-right: 5px;
    font-size: 13px;
}

.login_facebook span a{
    text-decoration: none;
    color: #737373;
}

.login_facebook span i{
    color: #fff;
}

.login_facebook span a:hover{
    text-decoration: none;
    color: #ffffff;
}

.login_google{
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
    margin-top: 8px;
}

.login_google span{
    margin-right: 5px;
    font-size: 13px;
}

.login_google span a{
    text-decoration: none;
    color: #737373;
}

.login_google span i{
    color: #fff;
}

.login_google span a:hover{
    text-decoration: none;
    color: #fff;
}

.sign_up{
    color: #737373;
    font-size: 16px;
}

.sign_up a{
    color: #737373;
    font-size: 16px;
    text-decoration: none;
}

.sign_up a:hover{
    color: #fff;
}

.terms{
    color: #737373;
    font-size: 13px;
}

.terms a{
    text-decoration: underline;
    color: #737373;
}

.terms a:hover{
    color: #fff;
}