
/*HEAD-CONTAINER*/
.container .head-container{
    position: absolute;
    margin-top: 0px;
    margin-left: 260px;
    padding: 53px;
    width: 53rem;
    height: 18rem;
    box-sizing: border-box;
    background-color: #e0d0ca;
    border: 3px solid #4F200D;
    overflow: hidden;
    border-radius: 40px;
}

.container .head-container .screen{
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: 35px;
    margin-left: 680px;
    background-color: #4F200D;
    border-radius: 15px;
}

.container .head-container .screen a{
    display: flex;
    text-decoration: none;
}

.container .head-container .screen p{
    position: relative;
    color: #fff;
    top: 5px;
    left: 20px;
}

.container .head-container .screen-edit{
    position: relative;
    color: #fff;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 35px;
    border-radius: 50%;
}

.container .head-container .screen:hover p{
    color: #eef112;
}

.container .head-container .screen:hover i{
    color: #eef112;
}

.container .head-container .photo-icon i{
    position: absolute;
    margin-left: 280px;
    margin-top: 50px;
    font-size: 150px;
    color: #4F200D;
}

.container .head-container .photo-icon i:hover{
    color: #eef112;
}

.container .head-container .photo-edit{
    position: absolute;
    background-color: #4F200D;
    width: 30px;
    height: 30px;
    margin-top: 180px;
    margin-left: 410px;
    border-radius: 50%;
}

.container .head-container .photo-edit i{
    position: relative;
    top: 3px;
    padding: 7px;
    color: #fff;
    font-size: 17px;
}

.container .head-container .photo-edit i:hover{
    color: #eef112;
}





/*PROFILE-CONTAINER*/
.container .profile-container{
    position: absolute;
    margin-top: 300px;
    margin-left: 260px;
    padding: 53px;
    width: 53rem;
    height: 130rem;
    box-sizing: border-box;
    background-color: #e0d0ca;
    border: 3px solid #4F200D;
    overflow: hidden;
    border-radius: 40px;
}

.container .profile-container .abas{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 53rem;
    height: 70px;
    margin-left: -54px;
    margin-top: -55px;
    background-color: #4F200D;

}

.profile-container .abas .abas__radio{
    display: none;
}

.container .profile-container .abas .abas__label{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding-top: 20px;
   padding-bottom: 10px;
    cursor: pointer;
}

.profile-container .abas .abas__label:hover{
    color: #eef112;
}

.profile-container .abas .abas__conteudo{
    order: 1;
    width: 100%;
    display: none;
}

.profile-container .abas .abas__conteudo p{
    margin-top: 20px;
    margin-left: 20px;
}

.abas__radio:checked+.abas__label{
    border-bottom: 2px solid #eef112;
}

.abas__radio:checked+.abas__label+.abas__conteudo{
    display: grid;
}





/*PUBLICAÇÕES*/
.hidden{
    display: grid;
    place-items: center;
    align-items: center;
}


/*Cabeçalho do post*/

.my-post .box-text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
}

.my-post .box-text a{
    font-size: 25px;
    margin-bottom: 10px;
    color: #4F200D;
    text-decoration: none;
}

.my-post .box-text p{
    margin-left: 0px;
    margin-right: 60px;
    font-size: 20px;
    color: #000;
    word-wrap: nowrap;
}


/*Imagem do post*/

.my-post .hidden img{
    height: 410px;
    width: 430px;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 20px;
}


/*Botões do post*/

.my-post .buttons button{
    position: relative;
    background: none;
    color: #ffffff;
    cursor: pointer;
    top: -70px;
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    transition: .2s;
    background-color: #4F200D;
    margin: 5px;
}

.my-post .buttons i{
    font-size: 20px;
    color: #fff
}

.my-post .buttons button:hover{
    background-color: #eef112;
}

.my-post .buttons button:hover i{
    color: #000;
}





/*FOTOS*/
.container-fotos{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
    padding-top: 40px;
}

.gallery-fotos{
    width: 210px;
    height: 210px;
    border: 2px solid #fff;
    box-shadow: 10px 5px 9px #0006;
    flex-grow: 1;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.gallery-fotos:hover{
    border: none;

}

.gallery-fotos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;  
}

.gallery-fotos .overlay{
    display: none;
}